<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mdelbel.android.pedidosya.presentation">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="${googleMapApiKey}"/>
    </application>
</manifest>
